@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@page {
  margin: 12mm 10mm;
}

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

html {
  transition: color 0.2s, background-color 0.2s;
}
